<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Multas</span>
            
            <table class="table mt-4 table-dark table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre Completo</th>
                        <th>Fecha de Pago</th>
                        <th>Fecha Actual</th>
                        <th>Total a Pagar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Diego Rosero</td>
                        <td>30/01/2022</td>
                        <td>02/05/2022</td>
                        <td>$30</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info" style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Diego Rosero</td>
                        <td>30/01/2022</td>
                        <td>02/05/2022</td>
                        <td>$30</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Diego Rosero</td>
                        <td>30/01/2022</td>
                        <td>02/05/2022</td>
                        <td>$30</td>
                        <td>                            
                        </td>
                    </tr>
                    
                </tbody>
            </table>

            <button type="button" class="btn btn-dark btn-lg float-right mt-2" routerLink="/crear-multa">Agregar</button>

        </div>
    </div>
</div>

