<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Multas</span>
            
            <table class="table mt-4 table-dark table-striped">
                <thead>
                    <tr>                        
                        <th>Nombre Completo</th>
                        <th>Fecha de Pago</th>  
                        <th>Fecha Actual</th>
                        <th>Total a Pagar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let multa of multas">                       
                        <td>{{multa.name}}</td>
                        <td id="fecha">{{multa.fechaMaxPago}}</td>                     
                        <td>2/6/2022</td>
                        <td>{{multa.multa | currency}}</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info" style="margin-right: 10px;"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>                                      
                </tbody>
            </table>                
        </div>
    </div>
</div>



